<?xml version="1.0" encoding="utf-8" ?>

<MailSimOptions>
  <!-- Must be one of HTTP, SDK or OOM -->
  <ProviderType>OOM</ProviderType>
<!-- Uncomment and specify those to auto-login on MailSim start-up
  <UserName>XXXX</UserName>
  <Password>YYY</Password>
--> 
<!-- Uncomment this when you use OOM provider and want to disable Outlook prompts
  <DisableOutlookPrompts>true</DisableOutlookPrompts>
-->  
</MailSimOptions> 
